{% extends "layout.html" %}

{% block title %}
    My List
{% endblock %}

{% block main %}
<h1 style="height: 15vh; vertical-align: middle;">
    Watchlist
</h1>
<div class="table-responsive-md">
    <table class="table table-borderless d-flex flex row text-wrap">
        
        {% for item in watchlist %}
        <th class="p-1" style="width:10vw !important">{{  item["title"]  }}</th>
        {% endfor %}
        
        <tr class="p-1" style="width:10vw !important">
            {% for item in watchlist %}
            <td><img src = "{{ item["url"] }}" class="rounded " style="width:10vw !important"></td>
            {% endfor %}
        </tr>
        <tr class="p-1" style="width:10vw !important">
            {% for item in watchlist %}
            <form action="/mylist" method="post">
                <td><input type = "submit" id = "remfav" class="btn-check" name="remfav">
                <label class="btn btn-primary" for="remfav">Remove from Watchlist</label></td>
            </form>
            {% endfor %}
        </tr>
        
    </table>
    <div>
    </div>
    <h1 style="height: 15vh; vertical-align: middle;">
        Watched
    </h1>

    <table class="table table-borderless d-flex flex row text-wrap">
        
        {% for item in watched %}
        <th class="p-1" style="width:10vw !important"> {{  item["title"]  }}</th>
        {% endfor %}
        
        <tr class="p-1" style="width:10vw !important">
            {% for item in watched %}
            <td><img src = "{{ item["url"] }}" class="rounded " style="width:10vw !important"></td>
            {% endfor %}
        </tr>
        <tr class="p-1" style="width:10vw !important">
            {% for item in watched %}
            <form action="/mylist" method="post">
                <td><input type = "submit" id = "remwat" class="btn-check" name="remwat">
                <label class="btn btn-primary" for="remwat">Remove from watched</label></td>
            </form>
            {% endfor %}
        </tr>
    </table>
  </div>
  
{{ user }}


{% endblock %}