{% extends "search.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <h2>
        Search Results
    </h2>
    <form action="/search" method="post">
        <div class="input-group ">
            
            <input class="form-control rounded-3" autofocus type="text" id="searchbox" name="searchbox">
            <button class="btn btn-primary" type="submit">Search</button>
        
        </div>
    </form>
    <br>
    <br>
    <div class="table-responsive-sm">
        <table class="table table-borderless d-flex flex row text-wrap"  >
            
            <tr  class="p-1" style="width:10vw !important">
                {% for res in apiinput %}
                <td class="p-1" style="width:10vw !important" id="{{res["ibdb_id"]}}" onClick="reply_click(this.id)"><img src = "{{ res["url"] }}" style="width:100% !important"></td>
                {% endfor %}
            </tr>
            <tr>    
                {% for res in apiinput %}
                    <th class="p-1" style="width:10vw !important">{{ res["title"] }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for res in apiinput %}
                    <td style="width:10vw !important">{{ res["year"] }}</td>
                    {% endfor %}
            </tr>
            
        </table>
    </div>
    <div id="details">
    </div>

    <script>
     function reply_click(clicked_id) {
        const id = encodeURIComponent(clicked_id); // encode the ID in case it contains special characters
        const url = `/search/${id}`; // construct the URL with the encoded ID
        fetch(url, { method: 'GET' })
            .then(response => response.text())
            .then(data => {
                window.location.href = url; // replace the HTML content with the response
            })
            .catch(error => console.error(error));
        }
   

    </script>



{% endblock %}