{% extends "search.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <h2>
        Search Results
    </h2>
    <br>
    <br>
    <div class="table-responsive-sm">
        <table class="table-light"  >
            
            <tr  id="links">
                {% for res in apiinput["d"] %}
                <td class="col-1" id="{{res["id"]}}" onClick="reply_click(this.id)"><img src = "{{ res["i"]["imageUrl"] }}" height = 150vh></td>
                {% endfor %}
            </tr>
            <tr>    
                {% for res in apiinput["d"] %}
                    <th class="col-1">{{ res["l"] }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for res in apiinput["d"] %}
                    <td>{{ res["y"] }}</td>
                    {% endfor %}
            </tr>
            
        </table>
    </div>
    <div id = "info">
        <p>
            
            {{  data  }}
        </p>
    </div>

    <script>
        function reply_click(clicked_id)
        {
            const e = clicked_id
            console.log(e)
            let data = new FormData()
            data.append("q",e)
            console.log(data)
            const request = new XMLHttpRequest()
            request.open("POST", "/search")
            request.send(data)
        }

        
    </script>



{% endblock %}